 <mat-form-field appearance="fill" class="selector">
  <mat-select atNativeControl (selectionChange)="selectTag($event)" placeholder="Añadir etiquetas">
    <mat-option></mat-option>
    <mat-option *ngFor="let option of tags" [value]="option.value">
        {{option.viewValue}}
    </mat-option>
    <mat-option [value]="-1" class="newTag"><mat-icon>add</mat-icon>Añadir nueva etiqueta</mat-option>
  </mat-select>
</mat-form-field>
<app-type-tag *ngFor="let tag of selectedTags" [tag]="tag" (emitteTagDelete) = "deleteTag($event)"></app-type-tag>
