::ng-deep .mat-form-field-underline {
  display: none;
}

input:hover
{
    border: 2px solid #4ADEBB;
}

.mat-form-field{
  display:inline;
  background-color: #4ADEBB;
}

.newTag{
  color: #4ADEBB;
}

