<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      <div class="filter">
        NOMBRE EXPERTO
        <span>
         <input matInput class="inputFilter" (keyup)="applyFilter($event)" placeholder="Buscar por nombre" #input>
        </span>
      </div>
     </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index" class="rowTable">{{element.name}}
    </mat-cell>
  </ng-container>

  <!-- State Column -->
  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef>
      <div class="filterSelector">
       ESTADO
       <span>
         <app-selector-type-states (emitState) = "setState($event)" [states] = "states"></app-selector-type-states>
       </span>
     </div>
    </mat-header-cell>
    <mat-cell *matCellDef="let element" class="rowTable">
      <app-type-states [text] = 'element.state' ></app-type-states>
      </mat-cell>
  </ng-container>

  <!-- Tags Column -->
  <ng-container matColumnDef="tags">
    <mat-header-cell *matHeaderCellDef>
      <div class="filter">
      ETIQUETAS
        <app-autocomplete-tag></app-autocomplete-tag>
     </div>
    </mat-header-cell>
    <mat-cell *matCellDef="let element" class="rowTable">
      <div class="tag" *ngFor="let tag of element.tags"><span>{{tag.name}}</span></div>
    </mat-cell>
  </ng-container>

  <!-- Score Column -->
  <ng-container matColumnDef="score">
    <mat-header-cell *matHeaderCellDef>
      <div class="filterSelector">
       VALORACIÓN
       <span>
        <app-selector-type-score (emitScore) = "setScore($event)"></app-selector-type-score>
       </span>
     </div>
    </mat-header-cell>
    <mat-cell *matCellDef="let element" class="rowTable">
      <app-type-score [score] = "element.score"></app-type-score>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row;let i = index  columns: displayedColumns;" class="row"
     routerLink='/experts/{{i}}' [state]="expertList[i]"></mat-row>
</table>
