<mat-tab-group dynamicHeight>
  <mat-tab label="Datos generales">
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile [colspan]=1>
        <mat-grid-tile-header>DISPONIBILIDAD</mat-grid-tile-header>
        <div class="contentInput">
          <app-selector-general [data] = "availabilitySelector" (emitte) = "setAvailability($event)" [textPlaceholder]="this.expert.availability"></app-selector-general>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]=1>
        <mat-grid-tile-header>ESTADO</mat-grid-tile-header>
        <div class="contentInput2">
          <app-selector-type-states (emitState) = "setState($event)" [states] = "states" [textPlaceholder]="this.expert.state"></app-selector-type-states>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]=1>
        <mat-grid-tile-header>VALORACIÓN</mat-grid-tile-header>
        <div class="contentInput2">
          <app-selector-type-score (emitScore) = "setScore($event)" [textPlaceholder] = "this.expert.score"></app-selector-type-score>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]=1>
        <mat-grid-tile-header>ORIGEN</mat-grid-tile-header>
        <div class="contentInput input4">
          <app-selector-general (emitte) = "setOrigin($event)" [data] = "origin" [textPlaceholder] = "this.expert.origin"></app-selector-general>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

  <form [formGroup] = "expertForm" class="form">
    <div class="content">
      <div>
        CONTACTO
      </div>
      <div class="data">
        <span> <mat-icon>call</mat-icon>
         Teléfono
        </span>
        <input matInput formControlName = "contactPhone" (blur) = "saveDataExpert()" placeholder="Sin especificar"/>
      </div>
      <div class="data">
        <span> <mat-icon>mail</mat-icon>
         Correo
        </span>
        <input matInput formControlName = "contactEmail" (blur) = "saveDataExpert()" placeholder="Sin especificar"/>
      </div>
      <div class="data">
        <span> <mat-icon>home</mat-icon>
         Dirección
        </span>
        <input matInput formControlName = "contactTown" (blur) = "saveDataExpert()" placeholder="Sin especificar"/>
      </div>
      <div class="data">
        <span> <mat-icon>person</mat-icon>
         Linkedin
        </span>
        <input matInput formControlName = "contactLinkedin" (blur) = "saveDataExpert()" placeholder="Sin especificar"/>
      </div>
    </div>
    <div class="content right">
      <div>
        <span>
          ETIQUETAS
        </span>
        <div class = "selector">
          <app-selector-tag [tags] = "tagsSelector" (emitteTag) = "addTag($event)" (emitteTagDelete) = "deleteTag($event)"
          [tagsOfExpert] = "expertTags"></app-selector-tag>
        </div>
      </div>
  </div>
</form>
</mat-tab>
  <mat-tab label="Observaciones">
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile [colspan]=3>
        <mat-grid-tile-header> OBSERVACIONES</mat-grid-tile-header>
        <div class="contentMax">
          <input class="inputMax" type="text" (blur) = "setObservations($event)" value={{this.expert.observations}}/>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]=1>
        <mat-grid-tile-header>MOTIVO DESCARTE</mat-grid-tile-header>
        <div class="contentInput input5">
          <app-selector-general (emitte) = "setStateReason($event)" [data] = "cause" [textPlaceholder] = "this.expert.modality"></app-selector-general>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]=2>
        <mat-grid-tile-header class="title-grid">ESPECIFICA EL MOTIVO</mat-grid-tile-header>
        <div class="contentInput">
          <input class="inputMaxObs" type="text" (blur) = "setStateReasonSpecific($event)" value={{this.expert.stateReason}}/>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
