<form [formGroup] = "loginForm" (submit) = "login()">
  <div>
    <div class="titleNew">
      <span>
        Email
      </span>
        <input matInput formControlName = "email"/>
    </div>
    <div class="titleNew">
      <span>
        Contraseña
      </span>
        <input matInput formControlName = "password" type="password"/>
    </div>
      <button mat-raised-button class= "buttonPrimary" type="submit">
        Iniciar sesión</button>
      <button mat-raised-button style= "margin-left: 20px;" class= "buttonPrimary" (click)=navigateRegister()>
        Nuevo usuario</button>
    </div>
</form>


