.sideNavFooter{
  position:relative;
  top:37%;
  margin:30px;
}

#contentTitles{
  display:inline-block
}

#title{
font-size:16px;
font-weight: 500;
margin-bottom: 0px;
color:#131340;
}

#subtitle{
  font-size:12px;
  color:#A3A3B4;
}

#button{
  width:auto;
  background-color: #0ED28C;
  color:white;
  font-size: 16px;
  font-weight: 500;
}
