.container{
  width: 100%;
  background-color: white;
  padding:30px;
  border-radius: 15px;
  box-shadow: 2px 0px 16px rgba(117, 114, 150, 0.15);
  width: auto;
}

.container div{
  color:#131340;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 10px;
}

