  <div class=containerLeft>
    <span>
      <app-logo-white></app-logo-white> Experts
    </span>
   <div class="titleh1">Plataforma de gestión de Expertos
    <div>Proyecto Final Inmaculada Jiménez Almeda</div>
   </div>
</div>

<div class="containerRight">
  <div *ngIf="!register">
    <h2>Bienvenido/a</h2>
    <app-login-form  (manipulateUser) = "loginUser($event)" (manipulateRegister) = "navigateRegister($event)"></app-login-form>
  </div>
  <div *ngIf="register">
    <h2>Inserte sus datos</h2>
    <app-register-form (manipulateUser) = "registerUser($event)" (goLogin) ="navigateLogin($event)"></app-register-form>
  </div>
</div>

