
  <div class=containerLeft>
    <span>
      <app-logo-white></app-logo-white> Experts
    </span>
   <div class="titleh1">Plataforma de gestión de Expertos
    <div>Proyecto Final Inmaculada Jiménez Almeda</div>
   </div>
</div>

<div class="containerRight">
  <div>
    <h2>Bienvenido/a</h2>
    <app-login-form  (manipulateUser) = "loginUser($event)"></app-login-form>
  </div>
  <div class= "dataCheck">
    <span>
      Datos de prueba:
    </span>
    <span>
      Email: inma@hotmail.com
      <span> Constraseña: 12345678</span>
    </span>
    <span>
      Email: paula@hotmail.com
      <span>Constraseña: 12345678</span>
    </span>
    <span>
      Email: javi@hotmail.com
      <span>Constraseña: 12345678</span>
    </span>
  </div>
</div>

