.buttonDialog{
  background-color: #A3A3B4;
  color:white;
  font-size: 16px;
  font-weight: 500;
  width: 40%;
  margin: 10px;
}

.dialog div{
  text-align: center;
}

.buttonOk{
  background-color:  #E2E3E9;
  color: #A3A3B4;
}

.buttonOk:hover{
  background-color:  #D66464;
  color: white;
}


